@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

* {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  cursor: none;
}

@theme {
  --color-primary: #5044e5;

  /* Primary Shades */
  --color-primary-50: #f3f2ff;
  --color-primary-100: #e7e4ff;
  --color-primary-200: #cfc9ff;
  --color-primary-300: #b3a7ff;
  --color-primary-400: #8d7dff;
  --color-primary-500: #6b5cff;
  --color-primary-600: #5044e5;
  --color-primary-700: #4338ca;
  --color-primary-800: #372fa3;
  --color-primary-900: #2e297f;

  /* Supporting Colors */
  --color-secondary: #0f172a;
  --color-accent: #22c55e;
  --color-muted: #64748b;

  /* Background Colors */
  --color-bg-light: #ffffff;
  --color-bg-soft: #f8fafc;
  --color-bg-dark: #020617;

  /* Text Colors */
  --color-text-primary: #0f172a;
  --color-text-secondary: #475569;
  --color-text-light: #f8fafc;

  /* Border Colors */
  --color-border-light: #e2e8f0;
  --color-border-dark: #1e293b;
}
